<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pank.scheduler.scheduler.service.SettingMapper" >
    <cache />
    <resultMap id="resParam" type="com.pank.scheduler.scheduler.entity.master.Setting" >
        <result column="id" property="id" />
        <result column="group_param" property="group_param" />
        <result column="kode_param" property="kode_param" />
        <result column="param" property="param" />
    </resultMap>
    
    <select id="findParameterById" resultType="Setting">
        SELECT 
		    id,
		    group_param,
		    kode_param,
		    param
		FROM
		    parameter
		WHERE
		    id = #{id}
    </select>
    
    <select id="getParam" resultType="String">
        SELECT param FROM parameter 
        WHERE 
        	group_param=#{group_param} 
        AND
        	kode_param=#{kode_param}
    </select>
    
    <update id="updateParameter" parameterType="hashmap">
        UPDATE parameter 
		    <set>
		      <if test="group_param != null">group_param=#{group_param}</if>,
		      <if test="kode_param != null">kode_param=#{kode_param}</if>,
		      <if test="param != null">param=#{param}</if>
		    </set>
		WHERE 
			id = #{id}
    </update>
    
</mapper>