<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scheduler.service.SubscriberMapper" >
    <cache />
    <resultMap id="resParam" type="com.scheduler.entity.master.Subscriber" >
        <result column="id" property="id" />
        <result column="nama" property="nama" />
        <result column="email" property="email" />
        <result column="nohp" property="nohp" />
        <result column="type" property="type" />
    </resultMap>
    
    <select id="findSubcriberById" resultType="Subscriber">
        SELECT 
		    id,
		    nama,
		    email,
		    nohp,
		    type
		FROM
		    subscriber
		WHERE
		    id = #{id}
    </select>
    
    <select id="findSubcriber" resultType="Subscriber">
        SELECT 
		    id,
		    nama,
		    email,
		    nohp,
		    type
		FROM
		    subscriber
		WHERE
		    id = #{id}
    </select>
    
    <insert id="insertSubcriber" parameterType="hashmap">
        INSERT INTO subscriber (
		    id,
		    nama,
		    email,
		    nohp,
		    type
		)
		VALUES 
		(
			#{id},
		    #{nama},
		    #{email},
		    #{nohp},
		    #{type}
		)
    </insert>
    
    <update id="updateSubcriber" parameterType="hashmap">
        UPDATE subscriber 
		    <set>
		      <if test="id != null">id=#{id}</if>,
		      <if test="nama != null">nama=#{nama}</if>,
		      <if test="email != null">email=#{email}</if>,
		      <if test="nohp != null">nohp=#{nohp}</if>,
		      <if test="type != null">type=#{type}</if>,
		      <if test="AMT != null">AMT=#{AMT}</if>
		    </set>
		WHERE 
			id = #{id_old}
    </update>
    
    <delete id="deleteSubcriberByTxId" parameterType="String">
      DELETE FROM subscriber WHERE id = #{id}
   	</delete>
   
</mapper>